body {
  /*display: flex;*/
  justify-content: space-between;
  margin: 0;
  background-color: #222831;
  overflow-x: hidden;
}

/*.line {*/
/*  background: #e80e65;*/
/*  height: 3px;*/
/*  width: 80%;*/
/*  margin: -15px 30px 20px;*/
/*  border-radius: 3px;*/
/*}*/

.grad {
  position: absolute;
  display: flex;
  /*justify-content: space-between;*/
  width: 100%;
  height: 100%;
  top: 22%;
}

.background_gradient {
  border-radius: 4px;
  transform: skew(36deg);
  width: 10%;
  height: 92%;
  margin: 0;
  padding: 0;
}
.background_gradient::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 1;
  filter: blur(3px);
  background-size: 400%;
}

#back_grad_1 {
  background: linear-gradient(rgb(232, 17, 49), rgb(245, 121, 16));
  margin-left: 26%;
  margin-top: 2%;
}
#back_grad_1::before {
  background: linear-gradient(45deg, #f57910, #e81131);
}
#back_grad_2 {
  background: linear-gradient(rgb(236, 221, 154), rgb(171, 16, 87));
  margin-left: 27%;
  margin-right: 6%;
  margin-top: 16%;
}
#back_grad_2::before {
  background: linear-gradient(45deg, #ab1057, #ecdd9a);
}

#text {
  margin: 2% auto;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 34px;
  font-weight: 545;
  color: #05d9e8;
}

.cards {
  position: absolute;
  top: 25%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  /*grid-template-columns: repeat(3, 1fr);*/
  gap: 20px;
  width: 100%;
  height: 80%;

  /* ! */
  justify-content: space-evenly;
}

.card {
  position: relative;
  padding: 2em;
  margin: 35px;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  box-shadow: 0 28px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: fit-content;
  height: fit-content;
  color: white;
}

.card__front {
  z-index: 1;
  position: relative;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.9s cubic-bezier(.2,.85,.4,1.275);
}

.card__front img {
  height: calc(3.5 * 88px);
  border-radius: 11px;
}

.card__back {
  z-index: 0;
  position: absolute;
  top: 2em;
  width: calc(3.5 * 63px);
  height: calc(3.5 * 88px);
  display: flex;
  text-align: center;
  line-height: 1.17;
  padding: 15px;
  backface-visibility: hidden;
  border-radius: 6px;
  transform: rotateY(-180deg);
  transition: transform 0.9s cubic-bezier(.2,.85,.4,1.275);
}

.card__back a {
  position: absolute;
  text-decoration: none;
  bottom: 4%;
  display: flex;
  justify-content: center;
  left: 40%;
  padding: 2.5%;
  background-color: rgba(35, 35, 35, 0.71);
  color: #e5e5e5;
  border-radius: 8px;
}

.card__back a:hover {
  transform: scale(1.17);
  transition: 0.4s;
}

/*Individual background colors for each card*/
#dragonlord {
  background-color: #72aac0;
}
#ulamog {
  background-color: #ad86d3;
}
#atraxa {
  background-color: #606060;
}
#higure {
  background-color: #4677b0;
}
#ur_dragon {
  background-color: #dec251;
}
#lathril {
  background-color: #2b6b23;
}
#wilhelt {
  background-color: #1483a4;
}
#anovon {
  background-color: #315bab;
}

.card:hover .card__back {
  transform: rotateY(0deg);
  z-index: 2;
}

.card:hover .card__front {
  transform: rotateY(180deg);
  z-index: -1;
}
