body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  background-color: #222831;
}

.line {
  background: #e80e65;
  height: 3px;
  width: 80%;
  margin: -15px 30px 20px;
  border-radius: 3px;
}

#text {
  margin: 2% auto;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 34px;
  font-weight: 545;
  color: #05d9e8;
}

.card {
  position: relative;
  padding: 2em;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.17);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  margin: 35px;
  width: fit-content;
  height: fit-content;
  color: white;
}

.card__front {
  z-index: 1;
  position: relative;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.9s cubic-bezier(.2,.85,.4,1.275);
}

.card__front img {
  height: calc(3.5 * 88px);
  border-radius: 11px;
}

.card__back {
  z-index: 0;
  position: absolute;
  top: 2em;
  width: calc(3.5 * 63px);
  height: calc(3.5 * 88px);
  display: flex;
  text-align: center;
  line-height: 1.17;
  padding: 15px;
  backface-visibility: hidden;
  border-radius: 6px;
  transform: rotateY(-180deg);
  transition: transform 0.9s cubic-bezier(.2,.85,.4,1.275);
}

.card__back a {
  position: absolute;
  text-decoration: none;
  bottom: 4%;
  display: flex;
  justify-content: center;
  left: 40%;
  padding: 2.5%;
  background-color: rgba(35, 35, 35, 0.71);
  color: #e5e5e5;
  border-radius: 8px;
}

.card__back a:hover {
  transform: scale(1.17);
  transition: 0.4s;
}

/*Individual background colors for each card*/
#dragonlord {
  background-color: #72aac0;
}
#ulamog {
  background-color: #ad86d3;
}
#atraxa {
  background-color: #606060;
}
#higure {
  background-color: #4677b0;
}
#ur_dragon {
  background-color: #dec251;
}
#lathril {
  background-color: #2b6b23;
}
#wilhelt {
  background-color: #1483a4;
}

.card:hover .card__back {
  transform: rotateY(0deg);
  z-index: 2;
}

.card:hover .card__front {
  transform: rotateY(180deg);
  z-index: -1;
}
