body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  background-color: #222831;
}

.card {
  position: relative;
  padding: 45px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.17);
  justify-content: center;
  justify-items: center;
  text-align: center;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  margin: 35px;
  width: fit-content;
  height: fit-content;
}

.spin img {
  position: relative;
  height: calc(3.5 * 88px);
  border-radius: 12px;
  z-index: 10;
  background: #ad86d3;
}

.spin {
  position: relative;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 3px;
  border-radius: 12px;
}

.spin:hover::before {
  content: '';
  height: 230px;
  width: 190px;
  position: absolute;
  left: -32%;
  top: -20%;
  border-radius: 18px;
  background-image: linear-gradient(0deg, transparent, goldenrod);
  transform-origin: bottom right;
  animation: spin 6s infinite linear;
}

.spin:hover::after {
  content: '';
  height: 230px;
  width: 190px;
  position: absolute;
  left: -32%;
  top: -20%;
  border-radius: 18px;
  background-image: linear-gradient(0deg, transparent, goldenrod);
  transform-origin: bottom right;
  animation: spin 6s infinite linear;
  animation-delay: -3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
